<ion-view view-title="The Best" xmlns="http://www.w3.org/1999/html">
  <ion-content>

    <div class="card">
      <form name="vm.search" ng-submit="vm.submit()">

        <div class="row-wrap">
          <div class="item item-text-wrap text-center">
            <h2 translate="ANSWER_THIS"></h2>
            <h2 class="assertive">{{vm.user_question}}</h2>
            <hr>
            <h2 translate="WHAT_IS_THE_BEST"></h2>
            <h2 class="assertive">{{vm.system_question}}?</h2>
          </div>
        </div>

        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-focus="vm.writing = true"
                   ng-blur="vm.writing = false"
                   type="search"
                   placeholder="{{'ANSWER' | translate}}"
                   ng-model="vm.searchText"
                   ng-change="vm.onChange()"
                   required lowercase>
          </label>
          <button type="submit"
                  translate="GO"
                  class="button icon-left ion-search button-small button-positive"
                  ng-disabled="vm.search.$invalid">Go!</button>
        </div>

        <div class="list" ng-show="vm.search.$valid">
          <a class="item item-icon-left item-icon-right" ng-show="vm.search.$valid" ng-repeat="item in vm.items"
             ng-click="vm.selectedItem(item.text)">
            <i class="icon ion-android-search"></i>
            {{item.text}}
            <i class="icon ion-arrow-graph-up-left"></i>
          </a>
        </div>

      </form>
    </div>

    <div class="card" ng-show="vm.best_answers.length > 0">
      <a class="item item-icon-left" ng-click="vm.selectedAnswer(answer)" ng-repeat="answer in vm.best_answers">
        <i class="icon ion-ribbon-a"></i>
        {{answer.a}}
      </a>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-positive">
    <div class="button-bar">
      <a class="button" ui-sref="{{vm.next_screen}}" translate="SKIP"></a>
    </div>
  </ion-footer-bar>
</ion-view>
