<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="card">
      <form name="vm.search" ng-submit="vm.submit()">

        <div class="row-wrap" ng-hide="vm.writing">
          <div class="item item-text-wrap text-center">
            <h1 translate="MAIN.TITLE">The Best</h1>
            <h1 class="assertive">{{vm.user_question}}</h1>
            <h1 translate="IS">is:</h1>
          </div>
        </div>

        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-focus="vm.writing = true"
                   ng-blur="vm.writing = false"
                   type="search"
                   placeholder="{{'ANSWER' | translate}}"
                   ng-model="vm.searchText"
                   ng-change="vm.onChange()"
                   required lowercase>
          </label>
          <button type="submit"
                  translate="ANSWER"
                  class="button icon-left ion-thumbsup button-small button-positive"
                  ng-disabled="vm.search.$invalid"
                  ion-track-tap="answer"
                  ion-track-data="{ event: 'askForBetterAnswer.answer' }">Answer</button>
        </div>

        <div class="list" ng-show="vm.search.$valid">
          <a class="item item-icon-left item-icon-right" ng-show="vm.search.$valid" ng-repeat="item in vm.items" ng-click="vm.selectedItem(item)">
            <i class="icon ion-android-search"></i>
            {{item.text}}
            <i class="icon ion-arrow-graph-up-left"></i>
          </a>
        </div>

      </form>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-positive">
    <div class="button-bar">
      <a class="button" ui-sref="{{vm.next_screen}}" translate="SKIP" ion-track-tap="skip" ion-track-data="{event: askForBetterAnswer.skip}"></a>
    </div>
  </ion-footer-bar>
</ion-view>
