<ion-view view-title="The Best">
  <ion-content>
    <div class="card">
      <form name="vm.search" ng-submit="vm.submit()">

        <div class="row-wrap" ng-hide="vm.writing">
          <div class="item item-text-wrap text-center">
            <!--h1 translate="MAIN.TITLE"></h1-->
            <img src="img/highResTextLogo.png" height="100">
          </div>
        </div>

        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-focus="vm.writing = true"
                   ng-blur="vm.writing = false"
                   type="search"
                   placeholder="{{'SEARCH' | translate}}"
                   ng-model="vm.searchText"
                   ng-change="vm.onChange()"
                   ng-maxlength="100"
                   required lowercase>
          </label>
          <button type="submit"
                  translate="GO"
                  class="button icon-left ion-search button-small button-positive"
                  ng-disabled="vm.search.$invalid"
                  ion-track-tap="search"
                  ion-track-data="{ event: 'main.search' }">Search!</button>
        </div>

        <div class="list" ng-show="vm.search.$valid">
          <a class="item item-icon-left item-icon-right" ng-show="vm.search.$valid" ng-repeat="item in vm.items" ng-click="vm.selectedItem(item)">
            <i class="icon ion-android-search"></i>
            {{item.text}}
            <i class="icon ion-arrow-graph-up-left"></i>
          </a>
        </div>

      </form>
    </div>

    <div class="card" ng-show="vm.sysq.length > 0">
      <ul class="list">
        <li class="item" ng-click="vm.selectedItem(item)" ng-repeat="item in vm.sysq">
          {{item.text}}
        </li>
      </ul>
    </div>

  </ion-content>
</ion-view>
