<ion-view hide-nav-bar="true">
  <ion-content>

    <div class="card">
      <div class="row-wrap">
        <div class="item item-text-wrap text-center">
          <h1 translate="GOODONE">Good one!</h1>
          <h2 translate="YOU_ARE_FIRST">you are the first to ask for the best</h2>
          <h1 class="assertive">{{vm.user_question}}</h1>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row-stretch">
        <div class="col">
          <button  ion-track-tap="vote" ion-track-data="{event: noAnswerYet.vote}"translate="VOTE_BEST" ng-click="vm.askForBetterAnswer()" class="button button-block button-positive icon-left ion-thumbsup">
            Vote your best
          </button>
        </div>
      </div>
      <div class="row-stretch">
        <div class="col">
          <button ion-track-tap="ask_friends" ion-track-data="{event: noAnswerYet.ask_friends}" translate="ASK_FRIENDS" ng-click="vm.askYourFriends()" class="button button-block button-positive icon-left ion-share">
            Ask your friends
          </button>
        </div>
      </div>
      <div class="row-stretch">
        <div class="col">
          <button ion-track-tap="ask_again" ion-track-data="{event: noAnswerYet.ask_again}" translate="ASK_AGAIN" ng-click="vm.askAgain()" class="button button-block button-positive icon-left ion-search">
            Ask Again
          </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
