<ion-view hide-nav-bar="true">
  <ion-content>

    <div class="card">
      <div class="row-wrap">
        <div class="item item-text-wrap text-center">
          <h1>The Best</h1>
          <h1 class="assertive">{{vm.user_question}}</h1>
          <h1 translate="IS"></h1>
          <h1>{{vm.best_answer}}</h1>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col">
          <button ion-track-tap="agree" ion-track-data="{event: showBestAnswer.agree}" translate="AGREE" ng-click="vm.agree()" class="button button-block button-balanced icon-left ion-thumbsup">
            Agree!
          </button>
        </div>
        <div class="col">
          <button ion-track-tap="nah" ion-track-data="{event: showBestAnswer.nah}" translate="NAH"ng-click="vm.nah()" class="button button-block button-assertive icon-left ion-thumbsdown">
            Nah...
          </button>
        </div>
      </div>

      <div class="row-stretch">
        <div class="col">
          <button ion-track-tap="ask_friends" ion-track-data="{event: showBestAnswer.ask_friends}" translate="ASK_FRIENDS" ng-click="vm.askYourFriends()" class="button button-block button-positive icon-left ion-ios-people">
            Ask your friends
          </button>
        </div>
      </div>

      <div class="row-stretch">
        <div class="col">
          <button ion-track-tap="share" ion-track-data="{event: showBestAnswer.share}" translate="SHARE" ng-click="vm.share()" class="button button-block button-positive icon-left ion-share">
            Share
          </button>
        </div>
      </div>

      <div class="row-stretch">
        <div class="col">
          <button ion-track-tap="ask_again" ion-track-data="{event: showBestAnswer.ask_again}" translate="ASK_AGAIN" ng-click="vm.askAgain()" class="button button-block button-positive icon-left ion-search">
            Ask again
          </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
