<ion-view view-title="The Best">
  <ion-content>
    <div class="card">
      <div class="row-wrap">
        <div class="item item-text-wrap text-center">
          <h1 translate="THANKS">Thanks for being Awesome!</h1>
          <h2>{{vm.title}}</h2>
          <hr>
          <button translate="ASK_AGAIN" ng-click="vm.askAgain()" class="button button-positive icon-left ion-android-search">
            Ask again
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
